:root {
  --padding1: 1.5rem;
}

@media (max-width: 600px) {
  :root {
    --padding1: .5rem;
  }
}
* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: cursive, sans-serif;
  background-color: #ffffff;
}

html {
  font-size: 0.8333333333vw;
}
@media (max-width: 991px) {
  html {
    font-size: 1.3333334vw;
  }
}
@media (max-width: 600px) {
  html {
    font-size: 4.102564103vw;
  }
}

h1, h2, h3, h4, h5, h6, p, a, li, ul {
  margin: 0;
  padding: 0;
}

.heading1 {
  font-size: 4rem;
  color: #201f5e;
  font-weight: 700;
}
.heading1.white {
  color: #ffffff;
}

.heading2 {
  font-size: 2.5rem;
  color: #201f5e;
  font-weight: 400;
}
.heading2.white {
  color: #ffffff;
}
@media (max-width: 600px) {
  .heading2 {
    font-size: 1rem;
  }
}

.paragraph1 {
  font-size: 1.6rem;
  color: #212020;
  font-weight: 400;
}
.paragraph1.white {
  color: #ffffff;
}

.splash-screen {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100svh;
  background-color: #ffffff;
  transition: opacity 0.5s ease;
}
.splash-screen .wrap {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.splash-screen .wrap .decorations {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
}
.splash-screen .wrap .decorations .corner-deco {
  position: absolute;
  width: 10rem;
  aspect-ratio: 1;
}
.splash-screen .wrap .decorations .corner-deco.tl {
  top: var(--padding1);
  left: var(--padding1);
}
.splash-screen .wrap .decorations .corner-deco.tr {
  top: var(--padding1);
  right: var(--padding1);
  transform: rotate(90deg);
}
.splash-screen .wrap .decorations .corner-deco.bl {
  bottom: var(--padding1);
  left: var(--padding1);
  transform: rotate(-90deg);
}
.splash-screen .wrap .decorations .corner-deco.br {
  bottom: var(--padding1);
  right: var(--padding1);
  transform: rotate(180deg);
}
@media (max-width: 600px) {
  .splash-screen .wrap .decorations .corner-deco {
    width: 3.5rem;
  }
}
.splash-screen .wrap .sub-title {
  margin-block-start: 9vh;
  padding: 0.5rem 2rem;
  background-color: #201f5e;
  border-radius: 20rem;
  color: #fefefe;
  font-weight: 300;
  letter-spacing: 0.125rem;
}
@media (max-width: 600px) {
  .splash-screen .wrap .sub-title {
    margin-block-start: 11vh;
  }
}
.splash-screen .wrap .labels-wrap {
  margin-block-start: 9vh;
  display: flex;
  gap: 6rem;
}
.splash-screen .wrap .labels-wrap .label-wrap {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: #e6e6e6;
  padding: 0.75rem 0.5rem 0.75rem 0;
  width: 13rem;
  border-radius: 20rem;
}
.splash-screen .wrap .labels-wrap .label-wrap .lable-icon {
  width: 5rem;
  aspect-ratio: 1;
}
.splash-screen .wrap .labels-wrap .label-wrap .label-text {
  font-size: 2rem;
  color: #212020;
  font-weight: 500;
  line-height: 1;
  max-width: 5rem;
}
@media (max-width: 600px) {
  .splash-screen .wrap .labels-wrap {
    gap: 1.75rem;
  }
  .splash-screen .wrap .labels-wrap .label-wrap {
    gap: 0.5rem;
    padding: 0.5rem 0.125rem 0.5rem 0;
    width: 6rem;
  }
  .splash-screen .wrap .labels-wrap .label-wrap .lable-icon {
    width: 2rem;
  }
  .splash-screen .wrap .labels-wrap .label-wrap .label-text {
    font-size: 1rem;
  }
}
.splash-screen .wrap .paragraph1 {
  margin-block-start: 2.5vh;
  text-align: center;
  max-width: 43rem;
  color: #221e1f;
  font-size: 1.75rem;
}
@media (max-width: 600px) {
  .splash-screen .wrap .paragraph1 {
    font-size: 0.75rem;
    max-width: 21rem;
  }
}
.splash-screen .wrap .main-title {
  margin-block-start: 5vh;
  position: relative;
}
.splash-screen .wrap .main-title .title {
  position: relative;
  font-size: 11rem;
  color: #201f5e;
  font-weight: 700;
}
.splash-screen .wrap .main-title .title .tag {
  font-size: 3rem;
  padding: 0.5rem 1.5rem;
  background-color: #f8d241;
  position: absolute;
  right: 1rem;
  bottom: 0;
  transform: translateY(50%) rotate(-5deg);
}
.splash-screen .wrap .main-title .deco-1 {
  pointer-events: none;
  position: absolute;
  width: 9.7rem;
  bottom: 3.5rem;
  left: 1.25rem;
  transform: translateY(100%);
}
.splash-screen .wrap .main-title .deco-2 {
  pointer-events: none;
  position: absolute;
  width: 16rem;
  bottom: 3rem;
  left: 13rem;
  transform: translateY(100%);
}
@media (max-width: 600px) {
  .splash-screen .wrap .main-title {
    margin-block-start: 8vh;
  }
  .splash-screen .wrap .main-title .title {
    font-size: 5rem;
  }
  .splash-screen .wrap .main-title .title .tag {
    font-size: 1.5rem;
    padding: 0.125rem 0.5rem;
    right: 0.5rem;
    transform: translateY(40%) rotate(-5deg);
  }
  .splash-screen .wrap .main-title .deco-1 {
    width: 5rem;
    bottom: 1.75rem;
    left: 0.35rem;
  }
  .splash-screen .wrap .main-title .deco-2 {
    width: 8rem;
    bottom: 2rem;
    left: 5.5rem;
  }
}
.splash-screen.invisible {
  opacity: 0;
}

/*# sourceMappingURL=styles.css.map */
